a,
button {
    cursor: pointer;
    z-index: 3;
}

a:link, a:visited {
    color: black;
    text-decoration: none
}

a.mini_button,
input[type='submit'] {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
}

a.mini_button:hover,
input[type='submit']:hover {
    background-color: black;
    color: white;
}

body,
input[type='submit'] {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
}

#logo {
    font-size: 2em;
}

footer address,
#links,
.links-mobile,
input[type='submit'] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer {
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, .8);
    padding: 75px;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, .4);
}

nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    font-size: .875em;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
}

#menu {
    display: none;
}

#links a {
    margin: 5px;
}

.links-mobile {
    display: none;
    font-size: 1.5em;
}

.show-mobile {
    display: none;
}

#menu {
    position: fixed;
    top: 3%;
    right: 3%;
}

#spazio {
    margin: 7% 0%;
}

#container {
    margin: 0% 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.margin {
    margin: 50% 0%;
}

h2 {
    display: inline;
    line-height: 300%;
}

#resultsUnsplash img, #resultsPexels img {
    max-height: 300px;
    max-width: 200px;
    margin: 10px 10px;
    object-fit: scale-down;
}

#resultsUnsplash, #resultsPexels{
    display: flex;
    flex-wrap: wrap;
}

.resultsMargin{
    margin-bottom: 400px;
}

.hidden{
    display:none;
}

.marginNone{
    margin-bottom: 50px;
}

#categories form div {
    display: flex;
    flex-wrap: wrap;
    margin: 2px 5px;
}

#categories form div.center {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

#divider{
    border-top:solid 0.5px black;
    margin: 6% 15%;
}

/* MOBILE MEDIA QUERY */

@media (max-width: 700px) {
    body {
        font-size: 14px;
    }

    #resultsUnsplash img, #resultsPexels img {
        max-height: 300px;
        max-width: 200px;
        margin: 5px 5px;
        object-fit: scale-down;
    }

    #container {
        margin: 0% 5%;
    }
    #spazio {
        margin: 15% 0%;
    }

    .show-mobile {
        display: flex;
        flex-direction: column;
        margin: 2% 0%;
    }
    .show-mobile a {
        line-height: 200%;
    }
    a.mini_button {
        padding: 2px 5px;
        border: 1px solid black;
        border-radius: 100px;
        width: fit-content;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    #links {
        font-size: 0.8em;
    }
    #logo {
        font-size: 1.8em;
    }
    #categories{
        margin-top:20px;
    }
}

@media (max-width: 800px) {
    #links {
        display: none;
    }
    #menu {
        display: flex;
    }
    #logo {
        font-size: 1.8em;
    }
}



